LIVEKIT_URL=<your LiveKit server URL>
LIVEKIT_API_KEY=<your API Key>
LIVEKIT_API_SECRET=<your API Secret>
OPENAI_API_KEY=<To use other providers, press Enter for now and edit .env.local>
DEEPGRAM_API_KEY=<To use other providers, press Enter for now and edit .env.local>
CARTESIA_API_KEY=<To use other providers, press Enter for now and edit .env.local>
FLASK_PORT=<your Flask server port>
VALIDATION_SERVER_URL=<your validation server URL>
CHARS_PER_SECOND=<your characters per second>
MAX_AUDIO_DURATION_SECONDS=<your max audio duration in seconds>